.table-dark{
text-align: center;
  width: 50%;
}
.in{
  width:40%; 
}
.card{
  text-align: center;
  background-color: yellowgreen;
  font-weight: 300px;
  font-family: Impact,'Arial Narrow Bold', sans-serif;
}
#all{
  display:flex;
}
#nam{
  text-align:center;
  color:blue;

}
#des{
  text-align: center;
}
