 .container-fluid{
background-size: cover;
background-repeat: no-repeat;
color: yellowgreen;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTEfECMc62c3QRVJv1VHA3zV_DUls8BE-EEZJGkU6PJogWVZ-0u")
} 

